<?xml version="1.0" encoding="utf-16"?>
<Configurations xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FactoryConfigurations>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.UserAccountRepository" />
      <Info>UserAccount Repository</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.UserAccount" />
      <Info>UserAccount Repository</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>UserAccount Data Context</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.UserAccountBusinessService" />
      <Info>UserAccount Business Service</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.UserAccountFormDataConverter" />
      <Info>UserAccount Form Data Converter</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.UserAccountFormValidator" />
      <Info>UserAccount Form Validator</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.UserAccountForm" />
      <Info>UserAccount Form</Info>
      <AssemblyType Key="UserAccount" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.SenderEmailAccountRepository" />
      <Info>SenderEmailAccount Repository</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.SenderEmailAccount" />
      <Info>SenderEmailAccount Repository</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>SenderEmailAccount Data Context</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.SenderEmailAccountBusinessService" />
      <Info>SenderEmailAccount Business Service</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.SenderEmailAccountFormDataConverter" />
      <Info>SenderEmailAccount Form Data Converter</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.SenderEmailAccountFormValidator" />
      <Info>SenderEmailAccount Form Validator</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.SenderEmailAccountForm" />
      <Info>SenderEmailAccount Form</Info>
      <AssemblyType Key="SenderEmailAccount" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.EmailTemplateRepository" />
      <Info>EmailTemplate Repository</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.EmailTemplate" />
      <Info>EmailTemplate Repository</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>EmailTemplate Data Context</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.EmailTemplateBusinessService" />
      <Info>EmailTemplate Business Service</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.EmailTemplateFormDataConverter" />
      <Info>EmailTemplate Form Data Converter</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.EmailTemplateFormValidator" />
      <Info>EmailTemplate Form Validator</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.EmailTemplateForm" />
      <Info>EmailTemplate Form</Info>
      <AssemblyType Key="EmailTemplate" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.EmailReceiverRepository" />
      <Info>EmailReceiver Repository</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.EmailReceiver" />
      <Info>EmailReceiver Repository</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>EmailReceiver Data Context</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.EmailReceiverBusinessService" />
      <Info>EmailReceiver Business Service</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.EmailReceiverFormDataConverter" />
      <Info>EmailReceiver Form Data Converter</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.EmailReceiverFormValidator" />
      <Info>EmailReceiver Form Validator</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.EmailReceiverForm" />
      <Info>EmailReceiver Form</Info>
      <AssemblyType Key="EmailReceiver" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.EmailSentRepository" />
      <Info>EmailSent Repository</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.EmailSent" />
      <Info>EmailSent Repository</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>EmailSent Data Context</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.EmailSentBusinessService" />
      <Info>EmailSent Business Service</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.EmailSentFormDataConverter" />
      <Info>EmailSent Form Data Converter</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.EmailSentFormValidator" />
      <Info>EmailSent Form Validator</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.EmailSentForm" />
      <Info>EmailSent Form</Info>
      <AssemblyType Key="EmailSent" ClassType="clsTypeForm" />
    </FactoryConfiguration>


    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Repository.EmailAttachmentRepository" />
      <Info>EmailAttachment Repository</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Model.EmailAttachment" />
      <Info>EmailAttachment Repository</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Data.dll" ClassName="Com.Wiseape.Gateway.Email.Data.Context.EmailGatewayDataContext" />
      <Info>EmailAttachment Data Context</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.Business.dll" ClassName="Com.Wiseape.Gateway.Email.Business.Service.EmailAttachmentBusinessService" />
      <Info>EmailAttachment Business Service</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.FormDataConverter.EmailAttachmentFormDataConverter" />
      <Info>EmailAttachment Form Data Converter</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Validator.EmailAttachmentFormValidator" />
      <Info>EmailAttachment Form Validator</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Gateway.Email.View.dll" ClassName="Com.Wiseape.Gateway.Email.View.Form.EmailAttachmentForm" />
      <Info>EmailAttachment Form</Info>
      <AssemblyType Key="EmailAttachment" ClassType="clsTypeForm" />
    </FactoryConfiguration>


  </FactoryConfigurations>
</Configurations>